@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;531;600;700;800;900&display=swap');

// Globals
$body-font-family: 'Inter', sans-serif;
$border-radius-root: 6px;
$font-size-root: 14px;

$light-button-background: #36d1dc;
$light-button-text-color: #fff;

$color-primary: #36d1dc;
$color-primary-dark: #1565c0;
$color-primary-light: #90caf9;

// Variables must come before the import
$btn-letter-spacing: 0;
$btn-font-weight: 400;
$list-item-title-font-size: 0.929rem;
$list-item-dense-title-font-size: 0.929rem;
$list-item-dense-title-font-weight: initial;
$fab-icon-sizes: (
  'small': 20
);
$btn-sizes: (
  'default': 41,
  'large': 54
);

$headings: (
  'h1': (
    'size': 3.3125rem,
    'line-height': 1.15em
  ),
  'h2': (
    'size': 2.25rem,
    'line-height': 1.5em
  )
);
